{{> csslinks}}

{{> header}}


{{#if info}}
  <script>alert('{{info}}')</script>
  {{/if}}
  
{{#if error}}
  <script>alert('{{error}}')</script>
  {{/if}}
       <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Change Password</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/user">Account</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!-- address section start -->
    <section class="contact-page register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Change Password</h3>
                    <form class="theme-form" method="post" action="/user/changepassword">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">Current Password</label>
                                <input type="text" class="form-control" id="home-ploat" placeholder="current password"
                                    required="" name="oldpassword">
                            </div>
                            <div class="col-md-6">
                                <label for="name">New Password</label>
                                <input type="text" class="form-control" id="address-two" placeholder="New Password"
                                    required="" name="newpassword">
                            </div>
                             <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-solid" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

{{> footer}}
{{> jslinks}}